---

import Base from "../layouts/Base.astro"

---


<Base>
  <div class="container mx-auto p-4">
    <h2 class="text-4xl font-bold">Acerda de Ladrillos</h2>
    <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis minima vitae voluptate, earum ad, commodi assumenda ea iste consequuntur ullam rem tenetur iure eos explicabo adipisci, ex perferendis esse?</p>
  </div>
</Base>  